.cards{
  display: flex;
  align-items: center;
  gap: 3.4rem;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2.4rem;
    margin: 2.4rem;
     
  }
  .cards-bottom{
    margin-top: 3.2rem;
  }
  .card{
    background-color: var(--dark-200);
    border: 1px solid var(--dark-400);
    border-radius: 0.4rem;
    width: 100%;
    max-width: 28rem;
    height: 27.6rem;
    padding: 2.4rem;
    @media only screen and (max-width: $bp-medium) {
      max-width: 100vh;
     
       
    }
    h3{
      font-family: 'Sora',sans-serif;
      font-weight: 600;
      font-size: 2rem;
      line-height: 150%;
      color: var(--white);
      padding-top: 2.4rem;
    }
    p{
      font-family: 'Inter';
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      color: var(--grey);
      max-width: 23.2rem;
      padding-top: 1.6rem;
      @media only screen and (max-width: $bp-medium) {
        max-width: 100%;
         
      }
    }
  }

}