.promo{
  background-color: var(--color-primary-light);
  height: 4rem;

  p{
    color: var(--dark);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    padding-top: 0.8rem;
   
  }
}
.menu{
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  .navbar {
    display: flex;
    gap: 4.8rem;
    align-items: center;
    .nav-links{
      display: flex;
      gap: 4.8rem;
      a{
        text-decoration: none;
        color: var(--grey);
        font-family: 'Inter', sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
        transition: all 0.3s;
      }
      a:hover{
        color: var(--white);
      }
    }
    .btn-header{
      background-color: transparent;
      color: var(--white);
      font-family: 'Inter', sans-serif;
      font-size: 1.8rem;
      text-transform: uppercase;
      padding: 1.4rem 2.4rem;
      border: 1px solid var(--color-primary-light);
      border-radius: 4px;
      cursor: pointer;
      &:hover{
        background: var(--color-primary-light);
        color: var(--dark);
      }

    }
  }
}