.hero{
  display: flex;
  justify-content: space-between;
  gap: 10.4rem;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    
 }
.contedo{
   margin-top: 5rem;
   max-width: 59.2rem;
  .membros{
    margin-top: 18rem;
    padding: 0.8rem 3.2rem 0.8rem 4rem ;
    background-color: var(--dark-200);
    display: inline-block;
    border-radius: 3.2rem;
    border: 1px solid rgba($color: #130B1D, $alpha: 0.5);

    @media only screen and (max-width: $bp-medium) {
      margin-top: 0.8rem;
      padding: 0.8rem 4rem 0.8rem 6rem ;
      
   }
    .membros-text{
      color: var(--white);
      font-family: 'Inter', sans-serif;
      font-size: 1.6rem;
      font-weight: 500;;
      line-height: 150%;
      margin-left: 0.8rem;
      position: relative;
      @media only screen and (max-width: $bp-medium) {
        font-size: 1.6rem;
     }
    }
    .membros-text::before{
     content: "";
    position: absolute;
    top: 0;
    right: 2.8rem;
    height: 100%;
    width: 100%;
    background: url(../img/icon-student.svg) no-repeat;
 
    }
  
  }
  .headline{
    margin-top: 4rem;
    color: var(--white);
    font-family: 'Sora';
    font-size: 4.8rem;
    line-height: 120%;
    span{
      background: linear-gradient(227.23deg, #78E3D1 7.65%, #A6FB98 67.82%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 4rem;
      
   }
  }
  .subtitulo{
    margin-top: 4rem;
    max-width: 50rem;
    color: var(--grey);
    font-family: 'Inter', sans-serif;
    font-size: 2.6rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
      
   }
  }
}
 .preco{
  margin-top: 14rem;
  padding-top: 3.2rem;
  padding-left: 3.2rem;
  padding-bottom: 4rem;
  background-color: var(--white);
  width: 100%;
  height: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 0.4rem;
  @media only screen and (max-width: $bp-medium) {
    margin-top: 2.4rem;
    
 }
  
  .btn-header{
    cursor: pointer;
    font-family: 'Sora',sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--dark);
    background: var(--color-primary-light);
    border-radius: 4px;
    max-width: 45.6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: none;
    margin-top: 7.6rem;
    &:hover{
      background: var(--color-primary-dark);
    }
    @media only screen and (max-width: $bp-medium) {
      margin-right: 3.2rem;
      font-size: 1.6rem;
      
   }
  }
  .formas-pagamento{
    font-family: 'Inter',sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 150%;
    margin-top: 2.4rem;
    text-align: center;
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.6rem;
      margin-right: 3.2rem;
      
   }
  }
  .preco-titulo{
    display: flex;
    align-items: center;
    gap: 2.4rem;

      span{
        font-family: 'Sora',sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 150%;
        color: var(--white);
        background-color: var(--dark);
        padding: 0.8rem 2.8rem;
        border-radius: 0.4rem;
      }
      p{
        font-family: 'Inter',sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 150%;
      }
  }
  .valor{
    .preco-real{
      font-family: 'Sora',sans-serif;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 150%;
      color: var(--dark-200);
      padding-top: 5.6rem;
      span{
        text-decoration: line-through;
      }
    p{
      font-family: 'Sora',sans-serif;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 150%;
      color: var(--dark-200);
      padding-top: 5.6rem;
     
      }
     
    }
    h3{
      font-family: 'Sora',sans-serif;
      font-size: 7.2rem;
      font-weight: 700;
      line-height: 150%;
      color: var(--dark-200);
      @media only screen and (max-width: $bp-medium) {
        font-size: 6.4rem;
        
     }
    }
  }
 }
}
