.beneficios{
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.sobre{
  .box{
    display: flex;
    max-width: 121.6rem;
    height: 53.3rem;
    margin: 0 auto;
    background-color: var(--dark-200);
    border: 1px solid var(--dark-400);
    border-radius: 0.4rem;
    gap: 2.4rem;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      height: 100%;
      margin-left: 2.4rem;
      margin-right: 2.4rem;
    }
  }
  .foto-iuri{
    position: relative;
    img{
      display:block;
      margin: 4.2rem;
      width: 45rem;
      height: 45rem;
      border-radius: 0.4rem;
      @media only screen and (max-width: $bp-medium) {
        width: 36.4rem;
         height: 30rem;
         margin-left: 3.2rem;
      }
      
    }
    span{
      display: inline-block;
      padding-top: 0.6rem ;
      text-align: center;
      font-family: 'Sora',sans-serif;
      color: var(--dark);
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      background-color: var(--white);
      width: 14rem;
      height: 2.8rem;
      border-radius: 1.6rem;
      position: absolute;
      top: 6.4rem;
      left: 6.4rem;
    }
  }
  
  .conteudo{
    color: var(--white);
    margin-top: 9.5rem;
    @media only screen and (max-width: $bp-medium) {
      margin-left: 4.2rem;
      margin-top: 0;
      margin-right: 3.2rem;
      padding-bottom: 3.2rem;
      
       
    }
    span{
      margin-bottom: 0.8rem;
      font-family: 'Sora',sans-serif;
      font-weight: 600;
      font-size: 2rem;
      background: linear-gradient(227.23deg, #78E3D1 7.65%, #A6FB98 67.82%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    h3{
      font-family: 'Sora',sans-serif;
      font-weight: 600;
      font-size: 4rem;
      line-height: 150%;
      margin-bottom: 0.8rem;
    }
    .profissao{
      font-family: 'Sora',sans-serif;
      font-weight: 400;
      font-size: 1.6rem;

    }
    .descricao{
      max-width: 62.2rem;
      margin-top: 4rem;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 160%;
      color: var(--grey);
    }
    .social-icons{
      margin-top: 5.7rem;
      display: flex;
      gap: 3.2rem;
      @media only screen and (max-width: $bp-medium) {
        flex-wrap: wrap;
         
      }
      img{
        padding: 0.8rem;
        background-color: var(--dark);
        border: 1px solid var(--dark-400);
        border-radius: 0.6rem;
        cursor: pointer;
        &:hover{
          border: 1px solid var(--color-primary-light);
        }
       
      }
    }
  }
}
.conteudo-ebook{
  margin-top: 14rem;
  
  h2{
    max-width: 52.2rem;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 140%;
    color: var(--white);
    margin-bottom: 5.6rem;
    @media only screen and (max-width: $bp-medium) {
      margin-left: 2.4rem;
       
    }
    span{
      background: linear-gradient(227.23deg, #78E3D1 7.65%, #A6FB98 67.82%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}
.cta{
  margin-top: 14rem;
  .box-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 121.6rem;
    height: 50rem;
    margin: 0 auto;
    background-color: var(--dark-200);
    border: 1px solid var(--dark-400);
    border-radius: 0.4rem;
    gap: 2.4rem;
    margin-bottom: 5.6rem;
    @media only screen and (max-width: $bp-medium) {
     flex-direction: column;
     height: 100%;
     margin: 2.4rem;
     padding: 3.2rem 0;
       
    }
    .cta-preco{
      text-align: center;
      p{ 
          font-family: 'Inter';
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          color: var(--grey);
          margin-top: 3.2rem;
          span{
            text-decoration: line-through;
          }
          .cta-formas-pagamento{
            font-family: 'Inter';
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            margin-top: 1.6rem !important;
          }
          }
     
      h2{
        max-width: 32.7rem;
        font-family: 'Sora';
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 130%;
        text-align: center;
        color: var(--white);
        span{
          background: linear-gradient(227.23deg, #78E3D1 7.65%, #A6FB98 67.82%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }

      }
      h3{
        margin-top: 0.8rem;
        font-family: 'Sora';
        font-weight: 600;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        color: var(--white);
      }
      .btn-cta{
        cursor: pointer;
        font-family: 'Sora',sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 150%;
        text-transform: uppercase;
        color: var(--dark);
        background: var(--color-primary-light);
        border-radius: 4px;
        max-width: 28.2rem;
        padding: 2rem 3.2rem;
        border: none;
        margin-top: 5.6rem;
        &:hover{
          background: var(--color-primary-dark);
        }
      }
    }
    .cta-vantagens{
      margin-left: 18rem;
      @media only screen and (max-width: $bp-medium) {
        margin-left: 0;
          
       }
      h2{
        max-width: 34.7rem;
        font-family: 'Sora',sans-serif;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 130%;}
        color: var(--white);
      ul{
        padding-left: 4.6rem;
        list-style: none;
        margin-top: 4rem;
        li{
          font-family: 'Inter';
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 150%;
          color: var(--grey);
          position: relative;
          &:not(:first-child){
            margin-top: 1.2rem;
          }
          &::before{
            content: " ";
            display: inline-block;
            height: 3.2rem;
            width: 3.2rem;
            background-image: url(../img/Check.svg);
            position: absolute;
            left: -4.6rem;
          }
        }
      }
    }
  }
}